/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Hero Section */
#hero {
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

#about{
    text-align: justify;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #0056b3;
}

/* Sections */
section {
    padding: 2rem 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #007BFF;
}
#Education{
    padding: 2rem 2rem;
}


.education-contaioner{
    display: grid;
    gap: 2rem;
}


.education-item{
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}


#skills .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

#skills .skills-list li {
    background: #f4f4f4;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
/* Publication */
#Publications{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.publication-container{
    padding: 1rem;
    border-radius: 5px;
}


/* Projects */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.project {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #333;
    margin-bottom: 0.5rem;
}

/* Contact Form */
#contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact-form input, #contact-form textarea {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#contact-form button {
    padding: 0.8rem;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

#contact-form button:hover {
    background: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}
